mat-card.text-card.unknown-text([ngClass]='{"linking": inLinkingMode}')
  mat-card-header
    mat-card-title
      i Text from unknown number!
        phone-widget([number]='text.from')
      time-widget([time]='text.timestamp')
      |  
      button(mat-icon-button, (click)='linkUnknownTextToRacer()', [title]='"Link number to racer"', [disabled]='inLinkingMode')
        mat-icon link
  mat-card.linking-card(*ngIf='inLinkingMode')
    mat-card-content.link-body
      .master-detail
        .racers-list.master
          mat-list
            mat-list-item(*ngFor='let racer of racersList | orderBy: "+name" ', (click)='pickRacer(racer)')
              | {{racer.name}}
              i(*ngIf='selectedRacer == racer') - Selected
        .detail
          div(*ngIf='selectedRacer')
            h3 Existing numbers for {{selectedRacer.name}}
            table.existing-racer-contacts
              thead
                tr
                  th Number
                  th Notes
                  th Preferred
              tbody
                tr(*ngFor='let contact of selectedRacer.phones')
                  td
                    phone-widget([number]='contact.number')
                  td {{contact.notes}}
                  td
                    mat-checkbox([(ngModel)]='contact.preferred', [disabled]='true')
            h3 New contact number details
            .new-contact
              phone-widget([number]='newContact.number', [edit]=true)
              mat-input-container
                input.shrink(mdInput, placeholder='Notes', [(ngModel)]='newContact.notes')
              mat-checkbox([(ngModel)]='newContact.preferred') Preferred
    mat-card-actions
      button(mat-raised-button, color='primary', (click)='saveNumberToRacer()', [disabled]='!selectedRacer') Save
      button(mat-raised-button, color='warn', (click)='finishLinking()') Cancel
  mat-card-content  {{text.body}}
  .text-read(*ngIf='text.readBy')
    | Read by
    user-widget([user]='text.readBy.user')
    |  at
    time-widget([time]='text.readBy.timestamp')
  mat-card-actions
    button(mat-icon-button, (click)='replyToText()', [title]='"Reply to text"')
      mat-icon reply
    |  
    button(mat-icon-button, (click)='markTextAsRead()', [disabled]='text.readBy', [title]='"Mark text as read"')
      mat-icon done

