mat-sidenav-container.mat-content
  mat-sidenav.sidebar(#start='', mode='over')
    .user-profile
    mat-nav-list
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'user', 'me'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text
            span(mat-line) {{getUsername()}}
            |  
            span.secondary(mat-line) My profile
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'user', 'logout'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Log out
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'racers'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Racers
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'teams'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Teams
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'updates'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Updates
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'user', 'list'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Users
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'mass-text'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Mass Text
      a(mat-list-item, [routerLink]=" ['/safetyteam', 'import'] ", routerLinkActive='active', (click)='start.toggle()')
        .mat-list-item
          .mat-list-text  Import
      div(*ngFor='let otherUser of getOtherUsers()')  {{otherUser.name}}
  .mat-content
    mat-toolbar.toolbar.logged-in([ngClass]='toolbarClass()')
      button(mat-icon-button, (click)='start.toggle()')
        mat-icon menu
      |  
      a(mat-button, [routerLink]=" ['/'] ") {{ name }}
      span.fill
        .text-received-flash(*ngIf='getNumberUnreadTexts()')
          a([routerLink]="['/safetyteam', 'texts', 'all']", [queryParams]="{show: 'unread'}", mat-button) {{getUnreadTextsNotification()}}
      |  
      button(mat-button, (click)='toggleGlobalTimezone()')  {{this.getTimezone().short}} Times
      |  
      a(mat-button, [routerLink]=" ['/safetyteam/texts'] ", routerLinkActive='active') Texts
      |  
      a(mat-button, [routerLink]=" ['/safetyteam/map'] ", routerLinkActive='active') Safety Map
      |  
      a(mat-button, [routerLink]=" ['/safetyteam/dashboard'] ", routerLinkActive='active') Dashboard
    mat-progress-bar(mode='indeterminate', color='primary', *ngIf='loading')
    main
      router-outlet

