h1 Debug Things
div
  h2 Send authenticated API request!
  mat-button-toggle-group(name='apiMethod', [(ngModel)]='apiRequest.method')
    mat-button-toggle(value='get') GET
    mat-button-toggle(value='post') POST
    mat-button-toggle(value='put') PUT
    mat-button-toggle(value='delete') DELETE
  mat-input-container
    input(mdInput, [(ngModel)]='apiRequest.endpoint', placeholder='Endpoint')
  mat-input-container
    textarea(mdInput, [(ngModel)]='apiRequest.body', placeholder='Body')
  button(mat-raised-button, color='primary', (click)='makeApiCall()') Execute!
  div.api-response {{apiResponse}}
  h2 Email
  div
    mat-input-container
      input(mdInput, type='email', [(ngModel)]='email.to', placeholder='To:')
    mat-input-container
      input(mdInput, [(ngModel)]='email.subject', placeholder='Re:')
    mat-input-container
      textarea(mdInput, [(ngModel)]='email.body', placeholder='Body:')
    button(mat-raised-button, color='primary', (click)='sendEmail()') Send
  h2 Give everyone pretty colours!
  button(mat-raised-button, color='primary', (click)='loadTeams()') Load teams!
  button(mat-raised-button, color='primary', (click)='prettyColors()', [disabled]='teams') Prettify!
  table
    thead
      tr
        td Id
        td Name
        td Color
    tbody
      tr(*ngFor='let team of teams | orderBy: "+id"')
        td {{team.id}}
        td {{team.name}}
        td
          input(type='color', [(ngModel)]='team.color')
  h2 Fetch everything from twilio!
  button(mat-raised-button, color='primary', (click)='twilioFetchBegin()', [disabled]='currentlyFetchingTwilio') Start Fetch!
  button(mat-raised-button, color='primary', (click)='twilioFetchCheck()', [disabled]='!currentlyFetchingTwilio') Check Fetch!
  button(mat-raised-button, color='primary', (click)='importSelectedTexts()', [disabled]='!allTwilioTexts') Import Selected!
  table(*ngIf='allTwilioTexts')
    tr
      th Import
      th To
      th From
      th Time
      th Body
    tr(*ngFor='let text of allTwilioTexts')
      td
        mat-checkbox(*ngIf='!text.imported', [(ngModel)]='text.import')
        mat-icon(*ngIf='text.imported') check
      td
        phone-widget([number]='textNumber(text.to)')
      td
        phone-widget([number]='textNumber(text.from)')
      td
        time-widget([time]='textTime(text)')
      td {{text.body}}
