.text-send
  mat-card
    mat-card-content
      div(*ngIf='isSending')
        i Sending
      table(style='width: 100%')
        tr
          th To:
            button(mat-icon-button, (click)='toggleEditingRecipients()')
              mat-icon(*ngIf='editingRecipients') done
              mat-icon(*ngIf='!editingRecipients') edit
          td 
            .text-recipients-list
              mat-card.recipient-card(*ngFor='let recipient of recipients')
                span.recipient-name {{recipient.name}}
                span.recipient-number-note {{recipient.numNote}}
                phone-widget([number]='recipient.number')

                button(mat-icon-button, *ngIf='editingRecipients', (click)='removeRecipient(recipient)')
                  mat-icon delete
        tr(*ngIf='editingRecipients')
          th Add
          td
            .next-recipient
              mat-input-container.search-field
                input(mdInput, [(ngModel)]='searchQuery', (input)='filterRecipients()', placeholder='Search for racer name or phone number')
              mat-card#filter-recipients-list.filter-recipients-list
                i(*ngIf='!matchingRecipients.length') No racers matching query!
                mat-list(*ngIf='matchingRecipients.length')
                  mat-list-item(*ngFor='let recipient of matchingRecipients', (click)='addRecipient(recipient)')
                    ng-container(*ngIf='recipient')
                      | {{recipient.name}}
                      | {{recipient.numNote}}
                      phone-widget([number]='recipient.number')
        tr
          th Message:
          td
            mat-input-container.text-body
              textarea(mdInput, [(ngModel)]='message')
      |  
      button(mat-raised-button, color='accent', (click)='sendNewText()') Send
      |  
      button(mat-raised-button, (click)='cancelNewText()') Cancel
