extends basic.pug

block title
  h1 #{APP_NAME}- Unhandled rejection

block content
  p Unhandled rejection at #{DATE} on #{HOSTNAME}
  h2 Promise
  p #{PROMISE_STRING}
  h2 Stacktrace
  p #{STACKTRACE}
  
