.racer-card(*ngIf='racer')
  md-card
    md-card-title
      h3(*ngIf='!inEditMode') {{racer.name}}
      md-input-container(*ngIf='inEditMode')
        input(md-input, placeholder='Racer name', [(ngModel)]='racer.name')
    md-card-content
      table
        tr
          th Id:
          td
            p {{racer.id}}
        tr
          th Email:
          td
            md-input-container
              input(md-input, type='email', [(ngModel)]='racer.email', [disabled]='!inEditMode')
        tr
          th Phone:
          td
            .racer-phone-numbers-list
              div(*ngFor='let contact of racer.phones')
                .contact-view.contact-row(*ngIf='!inEditMode')
                  phone-widget([number]='contact.number')
                  p
                    i Notes:
                    |  {{contact.notes || &quot;No notes&quot;}}
                  md-checkbox([(ngModel)]='contact.preferred', disabled) Preferred
                .contact-edit.contact-row(*ngIf='inEditMode')
                  phone-widget([number]='contact.number', [edit]=true)
                  md-input-container
                    input(md-input, placeholder='Notes', [(ngModel)]='contact.notes')
                  md-checkbox([(ngModel)]='contact.preferred') Preferred
                  |  
                  button(md-mini-fab, color='warn', (click)='removeContactFromRacer(contact)')
                    md-icon.md-24 remove
            |  
            button(md-mini-fab, *ngIf='inEditMode', (click)='addNumberToRacer()')
              md-icon.md-24 add
      |  
      button(md-raised-button, color='primary', (click)='enterEditMode()', *ngIf='!inEditMode') Edit
      |  
      button(md-raised-button, color='primary', (click)='exitEditMode()', *ngIf='inEditMode') Finish
      |  
      button(md-raised-button, color='warn', (click)='deleteRacer()') Delete
      |  
      button(md-raised-button, color='primary', (click)='goToRacerTexts(racer)') See Texts

